.app.dark {
    background-color: #111;
    color: white;
    
    .text {
        color: white;
    }
      
    .widget {
    background-color: #292929;
    color: white; // Колір фону компоненту в режимі dark
    }

    .back-button {
        color: white;
    }
    
    .button{
        background-color: #292929;
        color: white;
    }

    .pencil{
        color: white;
        background-color: #111;
    }

    input{
        background-color: transparent;
    }
    .placeholder {
        background-color: #292929;
        color: white;
    }

    .form {
        background-color: #3e3e3e;
        color: white
    }
  
  }